
    <div class="card">
  <h5 class="card-header">Gossip</h5>
  <div class="card-body">


<% Gossip.all.each do |gossip| %> 
    <h5 class="card-title">
        <%= gossip.title %>    
    </h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.
        <%= gossip.content %>
    </p>
<a><%= link_to "lien", gossip_id_path(gossip.id), class:"btn btn-primary" %></a>
<br/>
   <% end %> 

  </div>
</div>